.section {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em 0;

  &__title {
    margin-bottom: 0.8em;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #30b87e;
    border-bottom: 5px solid #30b87e;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__paragraf {
      margin: 1em;
  }
}
